@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: var(--neutral-03);

    --primary-05: #580505;
    --primary-04: #790404;
    --primary-03: #ba0000;
    --primary-02: #e43d3d;
    --primary-01: #f36b6b;

    --secondary-05: #0b0c0d;
    --secondary-04: #0c0e0f;
    --secondary-03: #171818;
    --secondary-02: #212324;
    --secondary-01: #343434;

    --gray-05: #3e3e3e;
    --gray-04: #535353;
    --gray-03: #7c7c7c;
    --gray-02: #989898;
    --gray-01: #cecece;

    --neutral-05: #e4e4e4;
    --neutral-04: #f3eeee;
    --neutral-03: #f3f3f3;
    --neutral-02: #f8f8f8;
    --neutral-01: #fefefe;

    --success-01: #237c00;
    --success-02: #3eb80e;
    --success-03: #e4f9da;

    --danger-01: #ea172e;
    --danger-02: #ee4b4b;
    --danger-03: #fcd2d2;

    --info-01: #1f62a5;
    --info-02: #61aee7;
    --info-03: #c7deef;

    --waiting-01: #f8ba1b;
    --waiting-02: #ffd234;

    --link-01: #3201be;
    --link-02: #2420f9;
  }

  .dark {
    --background: var(--secondary-02);

    --primary-05: #580505;
    --primary-04: #790404;
    --primary-03: #ba0000;
    --primary-02: #e43d3d;
    --primary-01: #f36b6b;

    --secondary-05: hsl(210 8% 95% / 1);
    --secondary-04: hsl(200 11% 95% / 1);
    --secondary-03: hsl(180 2% 91% / 1);
    --secondary-02: hsl(200 4% 86% / 1);
    --secondary-01: hsl(0 0% 80% / 1);

    --gray-05: hsl(0 0% 76% / 1);
    --gray-04: hsl(0 0% 66% / 1);
    --gray-03: hsl(0 0% 51% / 1);
    --gray-02: hsl(0 0% 40% / 1);
    --gray-01: hsl(0 0% 19% / 1);

    --neutral-05: hsl(0 0% 11% / 1);
    --neutral-04: hsl(0 17% 6% / 1);
    --neutral-03: hsl(0 0% 5% / 1);
    --neutral-02: hsl(0 0% 3% / 1);
    --neutral-01: hsl(0 0% 0% / 1);

    --success-01: #237c00;
    --success-02: #3eb80e;
    --success-03: #e4f9da;

    --danger-01: #ea172e;
    --danger-02: #ee4b4b;
    --danger-03: #fcd2d2;

    --info-01: #1f62a5;
    --info-02: #61aee7;
    --info-03: #c7deef;

    --waiting-01: #f8ba1b;
    --waiting-02: #ffd234;

    --link-01: #3201be;
    --link-02: #2420f9;
  }
}